[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "==3.4.5"
matplotlib = "==3.1.3"
numpy = "==1.17.3"
pandas = "==0.25.3"
sklearn = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
